/* TESTING */
#welcome {
  font-size: 20px;
  color: red;
}

/* get-started Form */
.form-container {
  max-width: 300px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;
}
.form-container fieldset {
  border: none;
}
.form-container legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-container label {
  display: block;
  margin-bottom: 8px;
}
.form-container select {
  font-family: Helvetica, sans-serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;  
}
.form-container select:focus {
  background: #d2d9dd;
}
.form-container select {
  -webkit-appearance: menulist-button;
  height:35px;
}

/* ---- 1 AND 2 NUMBER BUBBLES ----  */
.form-container .number {
  background: #6ea0c4; /* Color of 1 and 2 bubbles */
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}
/* Added this to prevent legend description from flowing beneath the 1 & 2 */
.form-container .legend-description {
  display: block;
  float: right;
  width: 260px;  
}

/* ---- SUBMIT BUTTON ---- */
.form-container input[type="submit"],
.form-container input[type="button"]
{
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #6ea0c4;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: none;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  margin-top: 20px; /* added to push Submit button down */
}
/* ADD IF CHANGING TO BUTTON: .form-container input[type="button"]:hover */
.form-container input[type="submit"]:hover {
  background: #8bcada;
}

/* ---- CUSTOM CHECKBOXES ---- */
/* The container */
.container {
  display: block;
  position: relative;
  padding-top: 10px; /* ADDED thhis to space out checkbox options */  
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-top: 10px; /* ADDED this to space out checkbox text */ 
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #6ea0c4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}