/* General formatting */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/woodfence.jpg");
    background-repeat: repeat-y;
    background-position: center;
    position: relative;
}

.hidden {
    display: none;
    color: whitesmoke;
    font-size: 0px;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 5vw;
}

h2 {
    font-family: 'Architects Daughter', cursive;
    width: 50vw;
    height: 8vh;
    line-height: 4vw;
    margin: 3vw auto;
    font-size: 3vw;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 5px;
}
h5 {
    font-family: 'Architects Daughter', cursive;
    width: 50vw;
    height: 5vw;
    line-height: 4vw;
    margin: 3vw auto;
    font-size: 3vw;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    padding-top: 1vh;
    padding-bottom: -1vh;
}

h4 {
    font-family: 'Architects Daughter', cursive;
    font-size: 2vw;
    margin-bottom: 2vh;
}

#clear-storage-button, #name-submit-button {
    position: relative;
    display: block;
    color: #FFF;
    margin: 0 auto;
    background: #FFAE64;
    font-size: 2vw;
    text-align: center;
    font-style: normal;
    width: 20vw;
    height: 7vh;
    border: none;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    margin-top: 20px; /* added to push Submit button down */
    border-radius: 5px;
  }
  

#clear-storage-button:hover, #name-submit-button:hover {
    background: rgb(241, 193, 149);
    cursor: pointer;
  }

/* Nav Bar */
i {
    color: #DC3D24;
    margin-right: 1.5vw;
}
.expansion-icon {
    color: black;
    cursor: pointer;
}
header {
    background-color: white;
    opacity: 0.7;
    height: 10vw;
}

nav {
    display: grid;
    grid-template-columns: 10vw 50vw 20vw 20vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

nav a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: black;
}

div.my-results-link, div.about-us-link, .unhidden {
    font-family: 'Architects Daughter', cursive;
    font-size: 2vw;
    text-align: center;
    padding: 2vw 1vw 2vw 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
    border: 2px solid black;
    border-radius: 5px;
    background: black;
}

div.my-results-link:hover, div.about-us-link:hover, .unhidden:hover {
    background-color: #DC3D24;
    border: 2px solid #DC3D24;
}

.logo {
    padding-left: 2vw;
}

.logo-img {
    height: 5.5vw;
}

/* Background Creation */

#index-body {
    overflow: hidden;
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0%;
    background-color: white;
    opacity: 0.7;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    line-height: 7vh;
    height: 8vh;
    right: 0;
    left: 0;
    margin: 0 auto;
 }

 #index-footer {
    position: absolute;
    width: 100vw;
    bottom: 0%;
    background-color: white;
    opacity: 0.7;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    line-height: 7vh;
    height: 8vh;
    right: 0;
    left: 0;
    margin: -83vh auto;
 }
#about-us-footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    background-color: white;
    opacity: 0.7;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    line-height: 7vh;
    height: 8vh;
    right: 0;
    left: 0;
    margin: -11vh auto;
}
#my-results-footer {
    position: absolute;
    width: 100vw;
    bottom: 0%;
    background-color: white;
    opacity: 0.7;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    line-height: 7vh;
    height: 8vh;
    right: 0;
    left: 0;
    margin: -8.5vh auto;
}

#get-started-footer {
    position: absolute;
    width: 100vw;
    bottom: 0%;
    background-color: white;
    opacity: 0.7;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    line-height: 7vh;
    height: 8vh;
    right: 0;
    left: 0;
    margin: -9vh auto;
}

/* About Us Page */
.main-about-us {
    width: 61vw;
    height: 39vw;
    margin: 3vw auto;
    opacity: 1;
    color: black;
    position: relative; 
    /* background-color: white; */
}

#erin-image {
    height: 12vw;
}

#erin-text {
    position: absolute;
    top: 0vw;
    left: 16vw;
    width: 25vw;
    margin: .5vw;
    padding: 1vw;
    line-height: 1.2vw;
    font-size: 1.2vw;
    background-color: bisque;
}

#jeff-image {
    height: 12vw;
    margin: .7vw 0vw 0vw 53vw;
}

#jeff-text {
    position: absolute;
    top: 12.3vw;
    right: 8vw;
    width: 25vw;
    margin: .5vw;
    padding: 1vw;
    margin-top: .8vw;
    line-height: 1.2vw;
    font-size: 1.2vw;
    background-color: rgb(243, 184, 113);
}

#cody-image {
    height: 12vw;
}


#cody-text {
    position: absolute;
    bottom: 1.1vw;
    left: 16vw;
    width: 25vw;
    margin: .5vw;
    padding: 1vw;
    line-height: 1.2vw;
    font-size: 1.2vw;
    background-color: rgb(244, 213, 101);
}
#cody-div {
    margin-top: .5vw;
}

#real-change-div {
    margin: 2vw 11vw 2vw 19.5vw;
    background-color: #DC3D24;
    opacity: .9;
    border-radius: .5vw;
}
#real-change-text {
    text-align: center;
    color: white;
    font-size: 1.9vw;
    padding: .5vw;
    opacity: 1;
}
#real-change-link {
    text-decoration: none;
}
#real-change-link:hover {
    color: blue;
    font-weight: bold;
    font-size: 2vw;
    opacity: .7;
    cursor: pointer;
}

/* Landing Page Styling */
.intro-text {
    position: relative;
    float: left;
    width: 40vw;
    font-size: 2vw;
    margin: 4vw;
    padding: 3%;
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 5px;
    line-height: 1.5;
}

.form-container-landing {
    position: relative;
    float: right;
    width: 35vw;
    margin: 8vw 4vw 4vw 3vw;
    background-color: #DC3D24;
    padding: 2%;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: center;
    color: whitesmoke;

}

.landing-input {
    height: 2vw;
    width: 20vw;
    margin: 1vw auto;
    font-size: 1vw;
}

/* My Results Page Styling */

#results {
    width: 80vw;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 2vw;
    font-size: 1.5vw;
    line-height: 3vw;
    border-radius: 5px;
}

li {
    margin-bottom: 2vw;
}

.resource-name {
    font-size: 2vw;
    font-weight: bold;
}
.plus-expansion-description {
    margin-left: 4vw;
    margin-right: 2vw;
    padding: 1vw;
    color: rgb(70, 70, 70);
    font-style: italic;
}

.resource-links{
    color: rgb(0, 162, 255);
}
.resource-links:visited {
    color: rgb(0, 162, 255);
}

#privacy {
    width: 82vw;
    margin: 1vh auto;
    padding-bottom: -1vh;
    background-color: #DC3D24;
    padding: 1vw;
    font-size: 1.5vw;
    line-height: 2vw;
    border-radius: 5px;
    color: whitesmoke;
}

#privacy-list li {
    list-style-type: disc;
    margin-left: 3vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#browser-icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 8vh;
    padding: 1vh 2vw 1vh 2vw;
    margin-left: 3.2vw;
    margin-right: .2vw;
 }
 
 .browser-icons {
     height: 7vh;
     margin: 2vh 5vh;
     border: .2px solid white;
     padding: .7vw;
 }

/* get-started Form */
.form-container {
  max-width: 300px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;
}
.form-container fieldset {
  border: none;
}
.form-container legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-container label {
  display: block;
  margin-bottom: 8px;
}
.form-container select {
  font-family: Helvetica, sans-serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: white;
  color:black;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;  
}

.form-container select {
  -webkit-appearance: menulist-button;
  height:35px;
}

/* ---- 1 AND 2 NUMBER BUBBLES ----  */
.form-container .number {
  background:#DC3D24; 
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}
/* Added this to prevent legend description from flowing beneath the 1 & 2 */
.form-container .legend-description {
  display: block;
  float: right;
  width: 260px;  
}

/* ---- SUBMIT BUTTON ---- */
.form-container input[type="submit"],
.form-container input[type="button"]
{
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #DC3D24;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: none;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  margin-top: 20px; 
}
#form-submit-button:hover {
    cursor: pointer;
    background-color:rgb(244, 138, 38);
}
/* ADD IF CHANGING TO BUTTON: .form-container input[type="button"]:hover */
.form-container input[type="submit"]:hover {
  background: #FFAE64;
}

/* ---- CUSTOM CHECKBOXES ---- */
/* The container */
.container {
  display: block;
  position: relative;
  padding-top: 10px; 
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-top: 10px; 
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ff7b00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}