* {
    box-sizing: border-box;

    
}
i {
    visibility: hidden;
}
/* This sets the float property to each column */
[class*="col-"] {
    float: right;
    padding: 25px;
    /* border: 1px solid red; */
    font-size: 20px;
    margin-right: 5%;
}
/* This clears the float property after each column */
.row::after {
    content: "";
    clear: both;
    display: table;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}
/* Background Creation */
.bg {
    background-image: url("../img/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fade-in{
    background-color: black;
    opacity: .9;
}
/* Nav Bar Creation */
header {
    background-color: black;
    opacity: 0.7;
}
.col-1 {
    width: 10%;
    color: white;
}
.col-2 {
    width: 10%;
    color: white;
}
.col-3 {
    width: 10%;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    display:none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media (max-width: 1407px) {
    .col-nav {
    margin-right: 5%;
    width: 20%;
    }
} 

@media (max-width: 937px) {
    .col-nav {
        margin-right: 5%;
        width: 25%;
    }
}

@media (max-width: 705px) {
    .col-nav {
        display: block;
    }
}

@media (max-width: 565px) {
    i {
        /* Make an icon become a dropdown menu */
        visibility: visible;
    }
    .row {
        display: none;
    }
    #icon-attribute {
        font-size: 100px;
        margin: 0 0 0px 0px;
        position: relative;
        right: 35%;
        color:rgb(0, 38, 255);
        cursor: pointer;
    }
    #icon-attribute:hover {
        color:purple;
        opacity: .8;
    }
}
