/* Nav Bar */
i {
    color: #DC3D24;
    margin-right: 1.5vw;
}
.expansion-icon {
    color: black;
}
header {
    background-color: white;
    opacity: 0.7;
    height: 10vw;
}

nav {
    display: grid;
    grid-template-columns: 10vw 50vw 20vw 20vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

nav a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

div.my-results-link, div.about-us-link {
    font-family: 'Architects Daughter', cursive;
    font-size: 2vw;
    text-align: center;
    padding: 2vw 1vw 2vw 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
    border: 2px solid black;
    border-radius: 5px;
    background: black;
}

div.my-results-link:hover, div.about-us-link:hover {
    background-color: #DC3D24;
    border: 2px solid #DC3D24;
}

.logo {
    padding-left: 2vw;
}

.logo-img {
    height: 5.5vw;
}

/* General body formatting */
body {
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/woodfence.jpg");
    background-repeat: repeat-y;
    background-position: center;
    position: relative;
}

.hidden {
    display: none;
}

/* Background Creation */

#index-body {
    overflow: hidden;
}

/* Footer */

footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: white;
    opacity: 0.7;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    line-height: 5vw;
    height: 60px;
}

/* Responsive Layout */

@media (max-width: 860px) {
     .homepage-center {
        display: block;
    }
}

/* About Us Page */
.main-about-us {
    width: 61vw;
    height: 39vw;
    margin: 3vw auto;
    opacity: 1;
    color: black;
    position: relative; 
    /* background-color: white; */
}

#erin-image {
    height: 12vw;
}
#erin-text {
    position: absolute;
    top: 0vw;
    left: 16vw;
    width: 25vw;
    margin: .5vw;
    padding: 1vw;
    line-height: 1.2vw;
    font-size: 1.2vw;
    background-color: bisque;
}

#jeff-image {
    height: 12vw;
    margin: 0vw 0vw 0vw 53vw;
}
#jeff-text {
    position: absolute;
    top: 12.3vw;
    right: 8vw;
    width: 25vw;
    margin: .5vw;
    padding: 1vw;
    line-height: 1.2vw;
    font-size: 1.2vw;
    background-color: rgb(243, 184, 113);
}

#cody-image {
    height: 12vw;
}
#cody-text {
    position: absolute;
    bottom: 2.5vw;
    left: 16vw;
    width: 25vw;
    margin: .5vw;
    padding: 1vw;
    line-height: 1.2vw;
    font-size: 1.2vw;
    background-color: rgb(244, 213, 101);
}

/* Landing Page Styling */
.intro-text {
    position: relative;
    float: left;
    width: 40vw;
    font-size: 2vw;
    margin: 4vw;
    padding: 3%;
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 5px;
    line-height: 1.5;
}

.form-container-landing {
    position: relative;
    float: right;
    width: 35vw;
    margin: 8vw 4vw 4vw 3vw;
    background-color: #DC3D24;
    padding: 2%;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: center;

}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 5vw;
}

h2 {
    font-family: 'Architects Daughter', cursive;
    width: 50vw;
    height: 8vh;
    line-height: 4vw;
    margin: 3vw auto;
    font-size: 3vw;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 5px;
}

.landing-input {
    height: 2vw;
    width: 20vw;
    margin: 1vw auto;
    font-size: 1vw;
}

/* My Results Page Styling */

#results {
    width: 80vw;
    margin: 1vw auto;
    background-color: whitesmoke;
    padding: 2vw;
    font-size: 1.5vw;
    line-height: 3vw;
    border-radius: 5px;
}

li {
    margin-bottom: 2vw;
}

.resource-name {
    font-size: 2vw;
    font-weight: bold;
}
.plus-expansion-description {
    margin-left: 4vw;
    margin-right: 2vw;
    padding: 1vw;
    color: rgb(70, 70, 70);
    font-style: italic;
}


.resource-links{
    color: rgb(0, 162, 255);
}
.resource-links:visited {
    color: rgb(0, 162, 255);
}

/* get-started Form */
.form-container {
  max-width: 300px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;
}
.form-container fieldset {
  border: none;
}
.form-container legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-container label {
  display: block;
  margin-bottom: 8px;
}
.form-container select {
  font-family: Helvetica, sans-serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: white;
  color:black;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;  
}

.form-container select {
  -webkit-appearance: menulist-button;
  height:35px;
}

/* ---- 1 AND 2 NUMBER BUBBLES ----  */
.form-container .number {
  background:#DC3D24; /* Color of 1 and 2 bubbles */
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}
/* Added this to prevent legend description from flowing beneath the 1 & 2 */
.form-container .legend-description {
  display: block;
  float: right;
  width: 260px;  
}

/* ---- SUBMIT BUTTON ---- */
.form-container input[type="submit"],
.form-container input[type="button"]
{
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: rgb(211, 95, 77);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: none;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  margin-top: 20px; /* added to push Submit button down */
}
/* ADD IF CHANGING TO BUTTON: .form-container input[type="button"]:hover */
.form-container input[type="submit"]:hover {
  background: rgb(200, 115, 102);
}

/* ---- CUSTOM CHECKBOXES ---- */
/* The container */
.container {
  display: block;
  position: relative;
  padding-top: 10px; /* ADDED thhis to space out checkbox options */  
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-top: 10px; /* ADDED this to space out checkbox text */ 
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ff7b00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}